mixin case(post)
	.col-sm-4
		article(role="article", itemscope itemtype="http://schema.org/BlogPosting").post-card
			if post.image.exists
				a(href='/case/' + post.key).post-image: img(src=post._.image.thumbnail(600,320), alt=post.name).img-responsive
			.post-summary
				.post-byline
					.post-author: a(href='/case/' + post.key)=post.name


				//h4(itemprop='name').post-title.mv-1
					a(href='/cases/case/' + post.slug, itemprop='url')=post.name
				.post-content-brief(itemprop='description')!= utils.cropString( utils.htmlToText(post.description), 100, '...', true )
