extends ../../layouts/default

include ../../mixins/group
	

block intro
	.page-intro: .container
		h1.page-title Groups
		p.lead
			| The different user groups.&nbsp;
			a(href='/join').js-auth-trigger Join now
			| &nbsp;to contribute.

block content
	.page-content: .container
		if groups.length
			.post-cards.row(itemscope itemtype="http://schema.org/Blog")
				each org in groups
					+group(org)
		else
			h3.text-muted There are no posts yet.
